{#
<nav>
{% block breadcrumb %}
    <ul class="breadcrumb">
    {% for n in node.parent_chain() %}
        <li><a href="{{ node.relative_url(n) }}">{{ n.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
{%  block toc %}
{% include "toc.html" with context %}
{% endblock %}
</nav>
#}
