$main-font-url: 'https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i' !default;
$code-font-url: 'https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' !default;

$main-font: 'Exo 2', 'Helvetica Neue', Helvetica, sans-serif !default;
$main-font-weight-normal: 400 !default;
$main-font-weight-heading: 600 !default;
$main-font-weight-toc-selected: 700 !default;

$code-font: 'Source Code Pro', 'Lucida Console', Monaco, monospace !default;

// 38em
$main-width: 760px !default;

//$hue: 28;
$hue: 180 !default;
$peak-sat: 30% !default;

$grey-0: hsl($hue, $peak-sat * 1, 0%); //#000;
$grey-1: hsl($hue, $peak-sat * 0.83, 27.5%);//#444;
$grey-2: hsl($hue, $peak-sat * 0.75, 52.5%);//#888;
$grey-3: hsl($hue, $peak-sat * 0.5, 80%);//#ccc;
$grey-4: hsl($hue, $peak-sat * 0.42, 87.5%);//#ddd;
$grey-5: hsl($hue, $peak-sat * 0.33, 90%);//#e5e5e5;
$grey-6: hsl($hue, $peak-sat * 0.25, 92.5%);//#eee;
$grey-7: hsl($hue, $peak-sat * 0.17, 94%);//#f0f0f0;
$grey-8: hsl($hue, $peak-sat * 0.084, 95%);//#f4f4f4;
$grey-9: hsl($hue, $peak-sat * 0.033, 96%);//#f5f5f5;
$grey-10: hsl($hue, $peak-sat * 0, 100%);//#fff;


$grey-0-semi: change-color($grey-0, $alpha:0.2);
$grey-10-semi: change-color($grey-10, $alpha:0.5);


@import url($main-font-url);
@import url($code-font-url);


body {
    /*font-family: Georgia;*/
    font-family: $main-font;
    font-weight: $main-font-weight-normal;
    font-size: 15pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $main-width;
    font-weight: $main-font-weight-heading;
    margin-top: 3em;
    margin-bottom: 1em;
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 28pt;
}

h3 {
    font-size: 25pt;
}

h4 {
    font-size: 22pt;
}

h5 {
    font-size: 20pt;
}

h6 {
    font-size: 18pt;
}

a {
    /*background-color: $grey-6;*/
    background: linear-gradient(transparent, $grey-6);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-width: 1px;

    color: black;
}

a:hover {
    background-color: transparent;
    text-decoration: underline;
    color: black;
}

kbd {
    font-size: 70%;
    border: solid 1px $grey-0;
    border-radius: .3em;
    padding-left: .3em;
    padding-right: .3em;
    padding-top: .2em;
    padding-bottom: .2em;
    box-shadow: 0 0 8px $grey-0-semi;
    white-space: nowrap;
}

blockquote
{
    margin-left: 0.2em;
    padding-left: 1em;
    border-left: solid 0.3em $grey-3;
}

main {
    width: $main-width;
    margin: auto;
}

nav {
    width: $main-width;
    margin: auto;
    /*padding-bottom: 3em;*/
}

footer {
    width: $main-width;
    margin: auto;
    padding-top: 3em;
    font-size: 60%;
    text-align: center;
}

footer p {
    margin: 0 0 0 0;
}

code {
    font-family: $code-font;
    background-color: $grey-7;
    padding-left: .15em;
    padding-right: .15em;
    padding-top: .05em;
    padding-bottom: .05em;
    font-size: 13pt;
}

pre code {
    display: block;
    margin: 0.2em 0.2em 0.2em 0.2em;
    padding: 0.5em 0 0.5em 1em;
    border-left: solid 0.3em $grey-3;
    border-radius: 0.4em;
    background-color: $grey-8;
    box-shadow: 0 0 8px $grey-0-semi;
    font-size: 10pt;
}

div.figure {
    display: block;
    text-align: center;
    margin: 0 auto;
}

figure {
    width: auto;
    max-width: 130%;
    display: table;
    border: solid $grey-2;
    /*border-width: 0.1em 0.3em 0.1em 0.3em;*/
    border-width: 0.1em;
    border-radius: 0.4em 0.4em 0 0;
    background-color: $grey-8;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 8px $grey-0-semi;
    padding: 10px;
    cursor: pointer;
}

figure img {
    transition: all 300ms;
    display: table-row;
    max-width: 100%;
}

figure.fullscreen {
    //position: absolute;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    max-width: fit-content;
    max-height: fit-content;
    max-width: -moz-fit-content;
    max-height: -moz-fit-content;
    //z-index: 100;
}

figure.fullscreen img {
  max-width: unset;
}

figure figcaption {
    display: table-caption;
    caption-side: bottom;
    border: solid $grey-2;
    border-width: 0.05em;
    border-radius: 0 0 0.4em 0.4em;
    background-color: $grey-8;
    padding: 0.1em 0.4em 0.2em 0.4em;
    box-shadow: 0 0 8px $grey-0-semi;
}

table {
    width: 100%;
    border: solid 1px black;
    border-radius: 0.2em;
    box-shadow: 0 0 8px $grey-0-semi;
    border-collapse: collapse;
}

thead { background-color: $grey-3; }

td, th {
    padding: 0.1em 0.5em 0.1em 0.5em;
    margin: 0;
    border: solid 1px black;
}

p.author {
    text-align: right;
    font-style: italic;
    font-weight: $main-font-weight-heading;
    font-size: 75%;
}


ul.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 9pt;
}

.breadcrumb{
  background: $grey-6;
  border-width: 1px;
  border-style: solid;
  border-color: $grey-9 $grey-5 $grey-3;
  border-radius: 5px;
  box-shadow: 0 0 12px $grey-0-semi;
  overflow: hidden;
  width: 100%;
}

.breadcrumb li{
  float: left;
  font-weight: $main-font-weight-normal;
}

.breadcrumb a{
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none;
  color: $grey-1;
  position: relative;
  text-shadow: 0 1px 0 $grey-10-semi;
  background-color: $grey-4;
  background-image: linear-gradient(to right, $grey-9, $grey-4);
}

.breadcrumb li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

.breadcrumb a:hover{
  background: $grey-10;
}

.breadcrumb a::after,
.breadcrumb a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

.breadcrumb a::after{
  z-index: 2;
  border-left-color: $grey-4;
}

.breadcrumb a::before{
  border-left-color: $grey-3;
  right: -1.1em;
  z-index: 1;
}

.breadcrumb a:hover::after{
  border-left-color: $grey-10;
}

.breadcrumb .current,
.breadcrumb .current:hover{
  background: none;
}

.breadcrumb .current::after,
.breadcrumb .current::before{
  content: normal;
}

$toc-padding: 10px;

.toc {
  width: 300px;
  position: fixed;
  left: 0;
  overflow: auto;
  color: $grey-1;
  text-shadow: 0 1px 0 $grey-10-semi;
  background-color: $grey-4;
  background-image: linear-gradient(to right, $grey-9, $grey-4);
  border-width: 1px;
  border-style: solid;
  border-color: $grey-9 $grey-5 $grey-3;
  border-radius: 5px;
  box-shadow: 0 0 12px $grey-0-semi;
  overflow: hidden;
  padding-left: $toc-padding;
  padding-top: $toc-padding;
  padding-bottom: $toc-padding;
  margin: 5px;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1480px){
  .toc {
    width: calc(100% - #{$toc-padding});
    position: relative;
    margin: 0;
  }
}

.toc-item {

}

.toc-item-selected {
  font-weight: $main-font-weight-toc-selected;
}

.collapse {
  border-width: 1px;
  border-style: solid;
  border-color: $grey-9 $grey-5 $grey-3;
  border-radius: 5px;
  box-shadow: 0 0 12px $grey-0-semi;
}
