<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ node.root_prefix() }}main.css">
    <link rel="stylesheet" type="text/css" href="{{ node.root_prefix() }}prism.css">
{% if extra_style %}
    <style>{{ extra_style }}</style>
{% endif %}
{% if extra_script %}
    <script>{{ extra_script }}</script>
{% endif %}
    {% block head %}
    {% endblock %}
    <title>{{ node.title }}</title>
</head>
<body>
    <script src="{{ node.root_prefix() }}prism.js"></script>
{% block header %}
    {% include "header.html" with context %}
{% endblock %}
{% block nav %}
    {% include "nav.html" with context %}
{% endblock %}
<main>
<section>
{% block body %}
    {{ body }}
{% endblock %}
</section>
</main>
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
</body>
</html>