<div class="toc">
{% set root = node.root() %}
<a class="toc-item-selected" href="{{ node.relative_url(root) }}">{{ root.title }}</a>
<ol>
{% for ch in root.public_children recursive -%}
    {% if node.is_in_parent_chain(ch) -%}
        <li><a class="toc-item-selected" href="{{ node.relative_url(ch) }}">{{ ch.title }}</a>
            {% if ch.public_children|length > 0 %}
            <ol>
                {{ loop(ch.public_children) }}
            </ol>
            {% endif %}
        </li>
    {%- else -%}
        <li><a class="toc-item" href="{{ node.relative_url(ch) }}">{{ ch.title }}</a>
    {%- endif %}
{%- endfor %}
</ol>
</div>
